{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">

    <form class="layui-form layui-form-pane">



        <div class="layui-form-item">
            <label class="layui-form-label">客户</label>
            <div class="layui-input-4">
                <input type="hidden" id="ids" name="ids" disabled value="{$ids}" lay-verify="required"   class="layui-input">
                <input type="text"  disabled value="{$client_name}" lay-verify="required"  class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">负责人</label>
            <div class="layui-input-4" >
                <select id="username" name="username" lay-verify="required" lay-search="">
                    <option value="">请选择负责人</option>
                    {volist name='adminResult' id='vo'}
                    <option value="{$vo.username}">{$vo.username}</option>
                    {/volist}

                </select>
            </div>
        </div>



        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn"  lay-submit="" lay-filter="submit">确认分配</button>

            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}

<script>


    layui.use(['form', 'layer'], function () {
        var form = layui.form, layer = layui.layer,$= layui.jquery;


        //监听提交
        form.on('submit(submit)', function(data){

            /*layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;*/

            $.post("{:url('Client/alterPrUserPri')}",data.field,function (res) {


                if (res.code == 0){
                    layer.msg(res.msg,{time:1000},function () {
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index); // 关闭layer
                    });

                    window.parent.location.reload();
                }else {
                    layer.msg(res.msg,{time:2000});
                }

            },'json')

            return false;
        });
    });
</script>
</body>
</html>