<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{:config('sys_name')}后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/static/admin/css/global.css" media="all">
    <link rel="stylesheet" href="/static/common/css/font.css" media="all">
    <style>

        .filtrate-warp{
            margin-bottom: 10px;
        }

        .filtrate-warp .title{
            padding: 5px 12px 7px 12px;
            font-size: 14px;
            font-weight: normal;
            text-align: left;
            cursor: pointer;
            width: 90px;
            background-color: transparent!important;
            color: black!important;
        }

        .filtrate-warp .title:hover{
            color: black;
        }

        .filtrate-warp .flag{
            padding: 6px 12px 6px 12px;
            cursor: pointer;
        }

        .filtrate-warp .flag:hover{
            color: black;
        }

        .filtrate-warp .layui-badge:hover{
            color: white!important;
        }

    </style>

</head>
<body class="skin-<?php if(!empty($_COOKIE['skin'])){echo $_COOKIE['skin'];}else{echo '0';setcookie('skin','0');}?>">

<div class="admin-main layui-anim layui-anim-upbit">



    <fieldset class="layui-elem-field " >
        <legend>高级查询</legend>

        <div class="layui-card" style="box-shadow: none;margin-top: 10px">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto" style="border-bottom: transparent;height: auto" >

                <div class="layui-form-item" style="text-align: left;padding-left: 20px;">

                    <div class="layui-inline">
                        <label class="layui-form-label">日期查询：</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" autocomplete="off" name="at_time" id="at_time" placeholder="请输入日期查询">
                        </div>

                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label" style="margin-left: 5px">公海类型：</label>
                        <div class="layui-input-inline">
                            <select name="pr_gh_type" id="pr_gh_type">
                                <option value="">请选择公海类型</option>

                                {volist name='ghTypeList' id='vo'}
                                <option value="{$vo.type_name}">{$vo.type_name}</option>
                                {/volist}

                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">手机：</label>
                        <div class="layui-input-inline">
                            <input type="text" id="phone" name="phone" placeholder="请输入手机号码" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="">客户名称：</label>
                        <div class="layui-input-inline">
                            <input type="text" id="kh_name" name="kh_name" placeholder="请输入客户名称" class="layui-input">
                        </div>
                    </div>
                    <!-- <div class="layui-inline">
                        <label class="layui-form-label" style="">时间查询：</label>
                        <div class="layui-input-inline">
                            <select name="timebucket">
                                <option value="">请选择时间</option>
                                <option value="today">今天</option>
                                <option value="yesterday">昨天</option>
                                <option value="week">本周</option>
                                <option value="last week">上周</option>
                                <option value="month">本月</option>
                                <option value="last month">上月</option>
                                <option value="year">今年</option>
                                <option value="last year">去年</option>
                                <option value="-2 hours">两个小时内</option>
                            </select>
                        </div>
                    </div> -->


                </div>



                <div class="layui-inline" style="float: right;padding-bottom: 15px">
                    <button class="layui-btn layuiadmin-btn-list"  lay-submit lay-filter="LAY-app-contlist-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"  style="vertical-align: sub;"></i>查询数据
                    </button>
                </div>

            </div>
        </div>



    </fieldset>






    <table class="layui-table" id="table-list" lay-filter="table-list"></table>
</div>



<script type="text/html" id="action">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="robClient" style="font-size: 14px"><i class="fa fa-user-o"></i> 提取客户</a>
</script>


<!--<script type="text/html" id="topBtn">
    <button type="button" class="layui-btn layui-btn-warm layui-btn-sm" id="robAllClient" style="font-size: 14px"><i class="fa fa-user-o"></i>  抢</button>
</script>-->


{include file="common/foot"/}

<script>
    layui.use(['table','form','upload','util','laydate'], function() {
        var table = layui.table,form = layui.form,laydate = layui.laydate, $ = layui.jquery,upload = layui.upload,util = layui.util;
    var tableIn = table.render({
            elem: '#table-list',
            url: '{:url("index")}',
            method: 'post',
            toolbar: '#topBtn',
            page: true,
            cols: [[
                  {checkbox:true,fixed: true},
                {field: 'id', title: 'ID', width: 80, fixed: true,hide:true},
                 {
                    field: 'kh_name', 
                    title: '客户名称',
                    templet: function(d) {
                        return '<a href="javascript:;" onclick="showClientDetails('+ d.id +')" style="color:#1E9FFF">'+ d.kh_name +'</a>';
                    }
                },
                {field: 'kh_rank', title: '客户级别', },
                {field: 'xs_area', title: '国家地区', },
                {field: 'kh_status', title: '客户来源',},
                {
                    field: 'whatsapp', 
                    title: 'WhatsApp',
                    templet: function(d) {
                        return d.whatsapp ? 
                            '<i class="layui-icon layui-icon-cellphone" style="color:#25D366"></i> ' + d.whatsapp : '-';
                    }
                },
                {
                    field: 'email', 
                    title: '邮箱',
                    templet: function(d) {
                        return d.email ? 
                            '<i class="layui-icon layui-icon-email" style="color:#4285F4"></i> ' + d.email : '-';
                    }
                },
                {
                    field: 'phone', 
                    title: '联系电话',
                    templet: function(d) {
                        return d.phone ? 
                            '<i class="layui-icon layui-icon-phone" style="color:#4CAF50"></i> ' + d.phone : '-';
                    }
                },
               {field: 'remark', title: '备注', },
                {field: 'at_time', title: '创建时间'},
                {field: 'to_gh_time', title: '最新转入时间'},
                {field: 'at_user', title: '创建人'},
                {field: 'pr_user_bef', title: '前负责人', },
                {title:'操作',width: 160, align: 'center', toolbar: '#action'}
            ]],
            limit: 10
        });


        table.on('tool(table-list)', function(obj) {
            var data = obj.data;

            if (obj.event === 'robClient') {
                layer.confirm('您确定要抢这个客户吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('robClient')}",{id:data.id},function(res){
                        layer.close(loading);
                        if(res.code===0){
                            layer.msg(res.msg,{time:1000,icon:1});
                            tableIn.reload();
                        }else{
                            layer.msg('操作失败！',{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }
        });


        //监听搜索
        form.on('submit(LAY-app-contlist-search)', function(data){
            var field = data.field;

            /* layer.alert(JSON.stringify(data.field), {
                  title: '最终的提交信息'
                })
                return false;*/


            table.reload('table-list', {
                url:"{:url('Liberum/liberumSearch')}",
                where: {
                    keyword: data.field
                },
                page:{
                    curr:1
                }
            });


        });

        laydate.render({
            elem: '#at_time'
        });


    });
</script>

<script>
    // 在layui.use作用域外定义带参数检查的弹窗函数
    function showClientDetails(id) {
        if (typeof layui === 'undefined' || typeof layui.jquery === 'undefined') {
            console.error('Layui or jQuery not loaded');
            layer.msg('系统资源未正确加载', {icon: 2});
            return;
        }
        
        var $ = layui.jquery;
        $.get("{:url('getClientDetails')}", {id: id}, function(res) {
            if(res.code === 0) {
                var data = res.data;
                var html = `
                    <div class="layui-card" style="padding: 20px">
                        <div class="layui-row">
                            <div class="layui-col-md6">
                                <p><strong>客户名称：</strong>${data.kh_name || '-'}</p>
                                <p><strong>客户级别：</strong>${data.kh_rank || '-'}</p>
                                <p><strong>国家地区：</strong>${data.xs_area || '-'}</p>
                                <p><strong>客户来源：</strong>${data.kh_status || '-'}</p>
                            </div>
                            <div class="layui-col-md6">
                                <p><strong>联系电话：</strong><i class="layui-icon layui-icon-phone" style="color:#4CAF50"></i> ${data.phone || '-'}</p>
                                <p><strong>邮箱：</strong><i class="layui-icon layui-icon-email" style="color:#4285F4"></i> ${data.email || '-'}</p>
                                <p><strong>WhatsApp：</strong><i class="layui-icon layui-icon-cellphone" style="color:#25D366"></i> ${data.whatsapp || '-'}</p>
                                <p><strong>阿里ID/微信：</strong>${data.ali_id || '-'} / ${data.wechat || '-'}</p>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label><strong>备注信息：</strong></label>
                            <div class="layui-input-block">
                                <pre style="border:0;background:#f8f8f8">${data.remark || '暂无备注信息'}</pre>
                            </div>
                        </div>
                    </div>
                `;
                
                layer.open({
                    type: 1,
                    title: '客户详情信息',
                    area: ['800px', '500px'],
                    content: html,
                    btn: ['关闭'],
                    shadeClose: true,
                    resize: false
                });
            } else {
                layer.msg('获取客户信息失败', {icon: 2});
            }
        });
    }
</script>


</body>
</html>