{include file="common/head"/}

<link rel="stylesheet" type="text/css" href="/static/admin/css/admin.css" />

<div class="admin-main layui-anim layui-anim-upbit">

    <div class="layui-row ">
        <!-- 新增冲突查询 -->
        <div class="layui-row" style="margin-bottom: 20px;">
            <div class="layui-col-md12" style="text-align: left;">
                <form class="layui-form" onsubmit="return searchConflict()" style="display: inline-block;">
                    <div class="layui-inline" style="margin-right: 10px;">
                        <input type="text" name="keyword" placeholder="输入客户名称/手机号/whatsapp/邮箱" autocomplete="off"
                            class="layui-input" style="width: 800px;">
                    </div>
                    <button class="layui-btn layui-btn-normal" lay-submit>
                        <i class="layui-icon layui-icon-search"></i> 冲突查询
                    </button>
                </form>
            </div>
        </div>

    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm6 layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            总线索
                            <!-- <span class="layui-badge layui-bg-blue layuiadmin-badge">周</span> -->
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">
                            <p class="layuiadmin-big-font">{$cluesCount} 条</p>
                            <p>
                                总线索
                                <span class="layuiadmin-span-color">{$cluesCount} 条</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="layui-col-sm6 layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            我的客户
                            <!-- <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span> -->
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">
                            <p class="layuiadmin-big-font">{$clientCount_month}</p>
                            <p>
                                成交客户
                                <span class="layuiadmin-span-color">{$clientCount_cj} 个</span>
                            </p>
                        </div>
                    </div>
                </div>


                <div class="layui-col-sm6 layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            公海
                            <!-- <span class="layui-badge layui-bg-green layuiadmin-badge">年</span> -->
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">

                            <p class="layuiadmin-big-font">{$liberumCount}</p>
                            <p>
                                总数据
                                <span class="layuiadmin-span-color">{$liberumCount} 条</span>
                            </p>
                        </div>
                    </div>
                </div>


                <!-- <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            成交
                            <span class="layui-badge layui-bg-orange layuiadmin-badge">月</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">

                            <p class="layuiadmin-big-font">0</p>
                            <p>
                                成交率
                                <span class="layuiadmin-span-color">100% <i class="layui-inline layui-icon layui-icon-user"></i></span>
                            </p>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>



    </div>


    <div class="layui-row layui-col-space15">

        <div class="layui-col-md8">
            <div class="layui-row layui-col-space15">

                <div class="layui-col-md12">

                    <div class="layui-card">
                        <div class="layui-card-header">绩效月排行</div>
                        <div class="layui-card-body">
                            <dl class="layuiadmin-card-status">
                                <table class="layui-table">
                                    <colgroup>
                                        <col width="100">
                                        <col>
                                    </colgroup>
                                    <!-- //月度排名（名）、月目标（元）、已成交（元）、完成率（%）、已成交（单）、提成点（%） -->
                                    <tbody>
                                        <tr>
                                            <td>月度排名</td>
                                            <td>业务员</td>
                                            <td>月目标（元）</td>
                                            <td>已成交（元）</td>
                                            <td>完成率（%）</td>
                                            <td>已成交（单）</td>
                                            <td>提成点（%）</td>
                                        </tr>
                                        {volist name='userlist' id='vo' key="k" }
                                        <tr>
                                            <td>{$k}</td>
                                            <td>{$vo['username']}</td>
                                            <td>{$vo['mubiao']}</td>
                                            <td>{$vo['money_month']}</td>
                                            <td>{$vo['wanchenglv']}</td>
                                            <td>{$vo['number_month']}</td>
                                            <td>{$vo['ticheng']}%</td>
                                        </tr>
                                        {/volist}
                                    </tbody>
                                </table>

                            </dl>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">待办事项</div>
                <div class="layui-card-body layui-text">
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col>
                        </colgroup>
                        <tbody>

                            <tr>
                                <td>今日已跟进</td>
                                <td>
                                    {$today_count}
                                </td>
                            </tr>
                            <tr>
                                <td>未跟进个数</td>
                                <td>
                                    {$all_count}
                                </td>
                            </tr>
                            <tr>
                                <td>跟进率</td>
                                <td>
                                    {$genjinlv}%
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>




            <div class="layui-card">
                <div class="layui-card-header">
                    {$wenhou}
                    <i class="layui-icon layui-icon-tips" title="{:config('sys_name')}" lay-offset="5"></i>
                </div>
                <div class="layui-card-body layui-text layadmin-text">

                    <!-- <p>{:config('sys_name')}</p>

                    <p>—— {:config('sys_name')}（<a href="/" target="_blank">crm6.nnuiclass.com</a>）</p>
                 -->
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15">

        <div class="layui-col-md8">
            <div class="layui-row layui-col-space15">

                <div class="layui-col-md12">

                    <div class="layui-card">
                        <div class="layui-card-header">动态</div>
                        <div class="layui-card-body">
                            <dl class="layuiadmin-card-status">


                                {volist name='result' id='vo'}
                                <dd>
                                    <div class="layui-status-img"><a href="javascript:;">
                                            <img src="{$vo.avatar}"></a>
                                    </div>
                                    <div>
                                        <p>{$vo.username} <em style="color: red;margin-right: 5px">跟进</em> <a
                                                href="{:url('Client/dialogue')}?id={$vo.id}"> {$vo.kh_name}</a> </p>
                                        <p><strong style="color: burlywood;margin-right: 5px">跟进记录:
                                            </strong>{$vo.reply_msg}</p>
                                        <span>跟进时间：{$vo.create_date|date='Y-m-d H:i:s'}</span>
                                    </div>
                                </dd>
                                {/volist}

                            </dl>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
{include file="common/foot"/}
<script>
    layui.use('table', function () {
        var table = layui.table;
    })
    function searchConflict() {
        var keyword = $('input[name="keyword"]').val();
        if (!keyword) {
            layer.msg('请输入查询关键词');
            return false;
        }
        window.location.href = "{:url('Client/conflict')}?keyword=" + encodeURIComponent(keyword);
        return false; // 阻止表单默认提交
    }
</script>
</body>

</html>