<div class="fly-footer">
    <p>
        <a href="{$config.domain}" target="_blank">CLTPHP.Pro</a>
        {$config.copyright} &copy;
        <a href="http://www.miitbeian.gov.cn/" target="_blank">{$config.number}</a>
        <a href="http://www.cltphp.com/" target="_blank">CLTPHP 出品</a>
    </p>
    <p>
        {volist name="linkList" id="vo"}
        <a href="{$vo.url}" target="_blank">{$vo.title}</a>
        {/volist}
    </p>
</div>
<script>
    layui.cache.page = 'jie';
    layui.cache.user = {
        username: '{:session("user.username")}'?'{:session("user.username")}':'游客'
        ,uid: -1
        ,avatar: '{:session("user.avatar")}'?'{:session("user.avatar")}':'__HOME__/images/avatar/00.jpg'
        ,experience: '{:session("user.id")}'?'{:session("user.id")}':''
        ,sex: '{:session("user.sex")}'?'{:session("user.sex")}':'男'
    };
</script>
<script>
(function () {
    document.addEventListener('keydown', function (e) {
        var key = e.key || e.keyCode || e.which;
        if (key !== 'Escape' && key !== 'Esc' && key !== 27) {
            return;
        }

        try {
            var topLayer = (top && top.layui && top.layui.layer) ? top.layui.layer : null;
            if (!topLayer && window.layui && window.layui.layer) {
                topLayer = window.layui.layer;
            }

            if (!topLayer) {
                return;
            }

            var closed = false;
            if (window !== top && window.name && typeof topLayer.getFrameIndex === 'function') {
                var index = topLayer.getFrameIndex(window.name);
                if (typeof index !== 'undefined') {
                    topLayer.close(index);
                    closed = true;
                }
            }

            if (!closed) {
                topLayer.closeAll();
            }
        } catch (err) {
            // ignore
        }
    });
})();
</script>