{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">所属用户组</label>
            <div class="layui-input-4">

                <select name="group_id" id="user_group" lay-verify="required" lay-filter="groupSelect">
                    <option value="">请选择用户组</option>
                    {volist name="authGroup" id="vo"}
                    <option value="{$vo.group_id}" {if $result['is_yy']}selected{/if}>{$vo.title}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属主管</label>
            <div class="layui-input-4">
                <select name="parent_id">
                    <option value="0">无（不设上级）</option>
                    {volist name="leaderList" id="vo"}
                    <option value="{$vo.admin_id}" {if $result['username']==$vo.username}selected{/if}>{$vo.username}
                    </option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">团队名称</label>
            <div class="layui-input-4">
                <input type="text" name="team_name" value="{$team_name}" placeholder="团队名称（可选）" class="layui-input">

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属组织</label>
            <div class="layui-input-4">
                <select name="org" lay-verify="required" multiple  lay-search id="orgSelect" lay-filter="orgSelect">
                    <option value="">请选择组织</option>
                    {volist name="orgList" id="vo"}
                    <option value="{$vo}">{$vo}</option>
                    {/volist}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('username')}</label>
            <div class="layui-input-4">
                <input type="text" name="username" lay-verify="required" placeholder="{:lang('pleaseEnter')}登录用户名"
                    class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                用户名在4到25个字符之间。
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('pwd')}</label>
            <div class="layui-input-4">
                <input type="password" name="pwd" placeholder="{:lang('pleaseEnter')}登录密码" {if
                    condition="ACTION_NAME eq 'adminadd'" }lay-verify="required" {/if} class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                密码必须大于6位，小于15位。
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">头像</label>
            <input type="hidden" name="avatar" id="avatar">
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="adBtn"><i
                            class="icon icon-upload3"></i>点击上传</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="adPic">
                        <p id="demoText"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('email')}</label>
            <div class="layui-input-4">
                <input type="text" name="email" lay-verify="email" placeholder="{:lang('pleaseEnter')}用户邮箱"
                    class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                用于密码找回，请认真填写。
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('tel')}</label>
            <div class="layui-input-4">
                <input type="text" name="tel" lay-verify="phone" value="" placeholder="{:lang('pleaseEnter')}手机号"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="admin_id">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('adminList')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}
<link rel="stylesheet" href="/static/admin/css/multiSelect.css">
<script>

    layui.config({
        //  base: '/js/' // 扩展模块目录
    }).extend({
    formMulti: '/js/form.mutil',
    });
    layui.use(['formMulti', 'layer', 'upload'], function() {
        var form = layui.formMulti, layer = layui.layer, $ = layui.jquery, upload = layui.upload;
        var info = {$info|raw};
        var is_admin = "{$result['is_admin']}";
        var is_position = "{$result['is_position']}";
        var channel = "{$result['channel']}";

        form.val("form", info);
        if (info) {
            $('#adPic').attr('src', info.avatar);
        }
        form.render();
        function getChannelList(ele) {
            // 发送请求获取渠道列表
            url = "{:url('getChannels')}";
            $.get(url, function (res) {
                if (res.code > 0) {
                    // 创建渠道选择框HTML
                    var channelHtml = '<div class="layui-form-item" id="channel-item">'
                        + '<label class="layui-form-label">所属渠道</label>'
                        + '<div class="layui-input-4">'
                        + '<select name="channel" lay-verify="required">'
                        + '<option value="">请选择渠道</option>';

                    // 动态添加渠道选项

                    $.each(res.data, function (index, item) {
                        sel = '';
                        if ((info && item.name == info.channel) || (channel && item.name == channel)) {
                            sel = 'selected class="layui-this"'
                        }
                        channelHtml += '<option ' + sel + ' value="' + item.name + '">' + item.name + '</option>';
                    });

                    channelHtml += '</select></div></div>';
                    // 先插入渠道选择框，再插入职位单选框
                    $(ele).after(channelHtml);
                    form.val("form", info.org);
                    form.render('select', 'channel'); // 重新渲染表单
                } else {
                    layer.msg('获取渠道列表失败', { icon: 2 });
                }
            });

        }


        // 监听用户组选择框
        function handleOperationGroup() {
            var selectedText = $('#user_group option:selected').text();
            var $formItem = $('#user_group').closest('.layui-form-item');
            $('#channel-item').remove();
            $('#operation-role-item').remove(); // 移除已存在的运营角色选项
            // 如果已选择运营用户组
            if (selectedText === '运营') {
                if (is_admin == '1' || is_position == '1') {
                    // 创建运营职位单选按钮组HTML

                    var roleHtml = '<div class="layui-form-item" id="operation-role-item" style="display:block">'
                        + '<label class="layui-form-label">运营职位</label>'
                        + '<div class="layui-input-4 ">'
                        + '<input type="radio" name="position" value="1" title="运营总监" lay-filter="operationPosition" ' + (info && info.position == 1 ? 'checked' : '') + '>'
                        + '<input type="radio" name="position" value="2" title="运营主管" lay-filter="operationPosition" ' + (info && info.position == 2 ? 'checked' : '') + '>'
                        + '<input type="radio" name="position" value="0" title="运营专员" lay-filter="operationPosition" ' + (info && info.position == 0 ? 'checked' : '') + '>'
                        + '</div></div>';
                    // 直接插入到用户组选择框后面
                    $formItem.after(roleHtml);
                    form.render('radio');
                    // 发送请求获取渠道列表
                    getChannelList('#operation-role-item');
                }
                else {
                    // 创建渠道选择框HTML
                    var channelHtml = '<div class="layui-form-item" id="channel-item">'
                        + '<label class="layui-form-label">所属渠道</label>'
                        + '<div class="layui-input-4">'
                        + '<select name="channel" lay-verify="required">'
                        + '<option value="' + channel + '" selected>' + channel + '</option>'
                        + '</select></div></div>';
                    $formItem.after(channelHtml);
                    form.val("form", info.org);
                    form.render('select', 'channel'); // 重新渲染表单
                }
            } else {
                // 不是运营用户组时移除渠道选择框
                $('#channel-item').remove();
            }
        }

        handleOperationGroup();

        form.on('select(groupSelect)', function (data) {
            handleOperationGroup();
        });
        
        form.on('submit(submit)', function (data) {
            loading = layer.load(1, { shade: [0.1, '#fff'] });
            $.post("", data.field, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, { time: 1800, icon: 1 }, function () {
                        location.href = res.url;
                    });
                } else {
                    layer.msg(res.msg, { time: 1800, icon: 2 });
                }
            });
        });

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#adBtn'
            , url: '{:url("UpFiles/upload")}'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#adPic').attr('src', result); //图片链接（base64）
                });
            },
            done: function (res) {
                if (res.code > 0) {
                    $('#avatar').val(res.url);
                } else {
                    //如果上传失败
                    return layer.msg('上传失败');
                }
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
        });
</script>