<!DOCTYPE html>
<html>
<head>
    {include file="common/head"/}
</head>
<body>
<form class="layui-form" style="padding:15px 20px 0 20px;">
  <div class="layui-form-item">
    <label class="layui-form-label">收款管理</label>
    <div class="layui-input-block">
      <input type="text" name="account" required lay-verify="required" placeholder="请输入收款管理" 
             autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">创建人</label>
    <div class="layui-input-block">
      <input type="text" name="receiver" class="layui-input layui-bg-gray" value="{$currentAdmin.username}" readonly>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button type="submit" class="layui-btn" lay-submit lay-filter="formSubmit">立即提交</button>
      <button type="button"
        class="layui-btn layui-btn-primary"
        onclick="var i = parent.layer.getFrameIndex(window.name); parent.layer.close(i);">
        取消
      </button>
    </div>
  </div>
</form>

{include file="common/foot"/}
<script>
layui.use(['form','jquery'], function(){
  var form = layui.form, $ = layui.jquery;
  // 监听表单提交
  form.on('submit(formSubmit)', function(data){
    $.post("{:url('ReceiveAccount/add')}", data.field, function(res){
        if(res.code === 0){
            layer.msg('添加成功！', {icon:1, time:1000}, function(){
                // 刷新父窗口表格，并关闭弹窗
                parent.layui.table.reload('table-list');
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            });
        } else {
            layer.msg(res.msg || '添加失败', {icon:2, time:1500});
        }
    }, 'json');
    return false; // 阻止表单跳转
  });
});
</script>
</body>
</html>
