<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{:config('sys_name')}后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/static/admin/css/global.css" media="all">
    <link rel="stylesheet" href="/static/common/css/font.css" media="all">
    <style>

        .layui-form-pane .layui-form-label {
            width: 110px;
            padding: 8px 15px;
            height: 38px;
            line-height: 20px;
            border-width: 0px;
            border-style: none;
            border-radius: 2px 0 0 2px;
            text-align: center;
            background-color: #FBFBFB;
            overflow: hidden;
            box-sizing: border-box;
        }

    </style>
</head>
<body class="skin-<?php if(!empty($_COOKIE['skin'])){echo $_COOKIE['skin'];}else{echo '0';setcookie('skin','0');}?>">


<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">

    <form class="layui-form layui-form-pane">

        <!-- <input type="hidden" id="id" name="id" lay-verify="required" value="{$result.id}" class="layui-input">

        <div class="layui-form-item">
            <label class="layui-form-label">手机</label>
            <div class="layui-input-4">
                <input type="text" disabled id="phone" disabled  name="phone" value="{$result.phone}" lay-verify="required" placeholder="请输入手机号码" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">客户名称</label>
            <div class="layui-input-4">
                <input type="text" id="kh_name" disabled  name="kh_name"  value="{$result.kh_name}" lay-verify="required" placeholder="请输入客户名称" class="layui-input">
            </div>
        </div> -->


        <div class="layui-form-item">
            <label class="layui-form-label">客户</label>
            <div class="layui-input-4">
                <input type="text" id="ids" name="ids" disabled value="{$ids}" lay-verify="required"  class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">公海类型</label>
            <div class="layui-input-4">
                <select name="pr_gh_type" id="pr_gh_type">
                    <option value="">请选择公海类型</option>

                    {volist name='libTypeList' id='vo'}
                    <option value="{$vo.type_name}">{$vo.type_name}</option>
                    {/volist}

                </select>
            </div>
        </div>



        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn"  lay-submit="" lay-filter="submit">提交保存</button>

            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}

<script>


        layui.use(['form', 'layer'], function () {
            var form = layui.form, layer = layui.layer,$= layui.jquery;


            //监听提交
            form.on('submit(submit)', function(data){

             /* layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                })
                return false;*/

                $.post("{:url('Client/toMoveGh')}",data.field,function (res) {


                    if (res.code == 0){
                        layer.msg(res.msg,{time:2000});
                        layer.close(layer.index);
                        window.parent.location.reload();
                    }else {
                        layer.msg(res.msg,{time:2000});
                    }

                },'json')

                return false;
            });
        });
</script>
</body>
</html>