<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{:config('sys_name')}后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/static/admin/css/global.css" media="all">
    <link rel="stylesheet" href="/static/common/css/font.css" media="all">
    <link rel="stylesheet" href="/static/admin/css/select.css" media="all">
    <script src="/js/jquery.min.js"></script>
    <script src="/static/admin/js/select.js"></script>
    <script src="/static/plugins/layui/layui.js"></script>
    <script src="/static/admin/js/xm-select.js"></script>



    <style>
        .layui-form-pane .layui-form-label {
            width: 110px;
            padding: 8px 15px;
            height: 38px;
            line-height: 20px;
            border-width: 0px;
            border-style: none;
            border-radius: 2px 0 0 2px;
            text-align: left;
            background-color: #FBFBFB;
            overflow: hidden;
            box-sizing: border-box;
        }
    </style>
</head>

<body class="skin-<?php if(!empty($_COOKIE['skin'])){echo $_COOKIE['skin'];}else{echo '0';setcookie('skin','0');}?>">

    <script type="text/javascript">
        function changeyewu() {
            //重新查找业务员的客户信息
            var contact = $("#contact").val();
            $('#cname').val('');
            var url = "{:url('Order/changeyewu')}" + "?contact=" + encodeURIComponent(contact);
            $.ajax({
                //几个参数需要注意一下
                type: "GET",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: url,//url
                success: function (result) {
                    //console.log(result);//打印服务端返回的数据(调试用)
                    //alert("修改成功");
                    if (result['msg']['code'] == 0) {
                        $('#checklabel').css('color', 'red');
                    } else {
                        $('#checklabel').css('color', 'green');
                        $('#cname').val(result['msg']['custname']);
                        $('#pr_user').val(result['msg']['pr_user']);
                        $('#oper_user_input').val(result['msg']['oper_user']);
                        $('#country').val(result['msg']['country']);
                        $('#kh_username').val(result['msg']['kh_username']);
                        // $('#source').val(result['msg']['source']);
                        var sourceValue = result['msg']['source'];
                        var lowerSourceValue = sourceValue.toLowerCase();
                        var $sourceSelect = $('#source');
                        var matched = false;

                        $sourceSelect.find('option').each(function () {
                            var optionValue = $(this).val();
                            if (optionValue != '') {
                                var lowerOptionValue = optionValue.toLowerCase();
                                if (lowerSourceValue.includes(lowerOptionValue)) {
                                    $sourceSelect.val(optionValue);
                                    matched = true;
                                    return false; // 终止循环
                                }
                            }

                        });

                        if (!matched) {
                            $sourceSelect.val(''); // 未匹配到则清空选择
                        }

                        // 重新渲染 layui 的 select 组件
                        layui.form.render('select');
                    }
                    $('#checklabel').html(result['msg']['msg']);


                },
                error: function () {
                    alert("异常！");
                }
            });
        }
    </script>
    <div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
        <form class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">联系方式<span style="color:red;">*</span></label>
                <div class="layui-input-4">
                    <input type="text" id="contact" onchange="changeyewu()" name="contact" lay-verify="required"
                        placeholder="请输入客户联系方式" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-4">
                    <label class="" id="checklabel"></label>
                </div>
            </div>
            <!-- <div class="layui-form-item">
                <label class="layui-form-label">客户手机号</label>
                <div class="layui-input-4">
                    <input type="text" id="cphone" readonly='true' name="cphone" lay-verify="required"
                        placeholder="请输入手机号码" class="layui-input">
                </div>
            </div> -->
            <!-- <input type="text" id="cphone"  name="cphone" lay-verify="required" placeholder="请输入手机号码" class="layui-input"> -->

            <div class="layui-form-item">
                <label class="layui-form-label">发货地址<span style="color:red;">*</span></label>
                <div class="layui-input-4">
                    <textarea type="text" id="country" name="country" placeholder="请输入发货详细地址"
                        class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">客户名称</label>
                <div class="layui-input-4">
                    <input type="text" id="cname" name="cname" lay-verify="required" value="{$kh_name}"
                        placeholder="请输入客户名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">客户负责人</label>
                <div class="layui-input-4">
                    <input type="text" id="pr_user" name="pr_user" lay-verify="required" value="{$username}"
                        class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">询盘来源</label>
                <div class="layui-input-4">
                    <select name="source" id="source" lay-verify="required" lay-filter="kh_status" lay-search="">
                        <option value="">请选择询盘来源</option>
                        {volist name='sourceList' id='vo'}
                        <option value="{$vo|htmlentities}">{$vo|htmlentities}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <!-- 运营人员：可搜索单选下拉（提交用户ID） -->
            <div class="layui-form-item">
                <label class="layui-form-label">运营人员<span style="color:red;">*</span></label>
                <div class="layui-input-4">
                    <select name="oper_user" lay-search lay-verify="required">
                        <option value="">请选择运营人员</option>
                        {volist name="operUserList" id="user"}
                        <option value="{$user.id}">{$user.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <!-- 协同人：可搜索多选下拉（提交ID数组） -->
            <div class="layui-form-item">
                <label class="layui-form-label">协同人<span style="color:red;">*</span></label>
                <div class="layui-input-4">
                    <!-- xmSelect 多选下拉容器 -->
                    <div id="collaboratorSelect"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">团队名称</label>
                <div class="layui-input-4">
                    <select name="team_name" id="team_name" lay-verify="required" lay-search="">
                        <option value="">请选择团队名称</option>
                        {volist name='teamList' id='vo'}
                        <option value="{$vo}" {if $vo==$team_name} selected="selected" {/if}>{$vo}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">客户性质</label>
                <div class="layui-input-4">
                    <select name="customer_type" id="customer_type" lay-verify="required" lay-search="">
                        <option value="">请选择客户性质</option>
                        {volist name='customer_type' id='vo'}
                        <option value="{$vo}" {if $vo==$customer_type} selected="selected" {/if}>{$vo}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">成交时间</label>
                <div class="layui-input-4">
                    <input type="text" id="orderTime" name="order_time" placeholder="请输入成交时间" class="layui-input">
                </div>
            </div>
            <!-- 产品明细表格 -->
            <div class="layui-form-item">
                <label class="layui-form-label">产品明细</label>
                <div class="layui-input-block">
                    <table id="product-table" class="layui-table">
                        <thead>
                            <tr>
                                <th>产品名称</th>
                                <th>规格型号</th>
                                <th>单位</th>
                                <th>数量</th>
                                <th>销售单价</th>
                                <th>销售价合计</th>
                                <th>进价合计</th>
                                <th>子项利润</th>
                                <th>行备注</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="productTableBody">
                            <!-- 默认提供一行空的输入行 -->
                            <tr>
                                <td><input type="text" name="product_name[]" class="layui-input" lay-verify="required">
                                </td>
                                <td><input type="text" name="spec_model[]" class="layui-input"></td>
                                <td><input type="text" name="unit[]" class="layui-input"></td>
                                <td><input type="number" name="qty[]" class="layui-input" lay-verify="required|number">
                                </td>
                                <td><input type="number" name="unit_price[]" class="layui-input"
                                        lay-verify="required|number" step="0.01"></td>
                                <td><input type="number" name="total_price[]" class="layui-input" readonly></td>
                                <td><input type="number" name="purchase_price[]" class="layui-input"
                                        lay-verify="required|number" step="0.01"></td>
                                <td><input type="number" name="sub_profit[]" class="layui-input" readonly></td>
                                <td><input type="text" name="item_remark[]" class="layui-input"></td>
                                <td><button type="button"
                                        class="layui-btn layui-btn-danger layui-btn-sm delete-row">删除</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- 新增一行 按钮 -->
                    <button type="button" id="addRow" class="layui-btn layui-btn-normal">新增一行</button>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">估算运费<span style="color:red;">*</span></label>
                <div class="layui-input-4">
                    <input type="text" id="shipping_cost" name="shipping_cost" lay-verify="required" value=""
                        placeholder="请输入估算运费" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">开票金额<span style="color:red;">*</span></label>
                <div class="layui-input-4">
                    <input type="text" id="invoice_amount" name="invoice_amount" lay-verify="required" value=""
                        placeholder="请输入开票金额" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">税费金额<span style="color:red;">*</span></label>
                <div class="layui-input-4">
                    <input type="text" id="tax_amount" name="tax_amount" lay-verify="required" value=""
                        placeholder="请输入税费金额" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">调试费<span style="color:red;">*</span></label>
                <div class="layui-input-4">
                    <input type="text" id="debugging_cost" name="debugging_cost" lay-verify="required" value=""
                        placeholder="请输入调试费" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">佣金<span style="color:red;">*</span></label>
                <div class="layui-input-4">
                    <input type="text" id="sales_commission" name="sales_commission" lay-verify="required" value=""
                        placeholder="请输入佣金" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分成备注<span style="color:red;">*</span></label>
                <div class="layui-input-4">
                    <input type="text" id="split_remarks" name="split_remarks" lay-verify="required" value=""
                        placeholder="请输入分成备注" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">已收款金额<span style="color:red;">*</span></label>
                <div class="layui-input-4">
                    <input type="text" id="amount_received" name="amount_received" lay-verify="required" value=""
                        placeholder="请输入已收款金额" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">订单金额(￥)</label>
                <div class="layui-input-4">
                    <input type="text" id="money" name="money" lay-verify="number|required" placeholder="请输入金额"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">利润(￥)</label>
                <div class="layui-input-4">
                    <input type="text" id="profit" lay-verify="required" name="profit" placeholder="请输入利润"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">利润率(%)</label>
                <div class="layui-input-4" style="position: relative;">
                    <input type="text" id="margin_rate" lay-verify="required" name="margin_rate" placeholder="请输入利润率"
                        class="layui-input"><span
                        style="position: absolute; right: 5px; top: 50%; transform: translateY(-50%)">%</span>
                </div>
            </div>

            <!-- <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-4">
                <input type="text" id="kh_username" name="kh_username" value=""  placeholder="请输入用户名" class="layui-input">
            </div>
        </div> -->
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-4">
                    <textarea placeholder="请输入备注信息" class="layui-textarea" name="remark"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">提交保存</button>

                </div>
            </div>

        </form>
    </div>
    {include file="common/foot"/}

    <script>

        layui.use(['form', 'layer', 'laydate'], function () {
            var form = layui.form, layer = layui.layer, $ = layui.jquery; laydate = layui.laydate;
            laydate.render({
                elem: '#orderTime',
                type: 'datetime',
                format: 'yyyy-MM-dd HH:mm:ss',
                value: new Date() // 默认当前时间
            });

            // 自定义验证规则
            form.verify({
                number: function (value) {
                    if (!/^\d+(\.\d+)?$/.test(value)) {
                        return '请输入有效的数字';
                    }
                }
            });

            // 初始化协同人多选下拉的数据列表（由后台传入的 JSON 字符串）
            var collaboratorData = {$collaboratorList|raw};
            // 渲染协同人多选下拉框
            xmSelect.render({
                el: '#collaboratorSelect',      // 容器元素对应上文中的 div
                name: 'joint_person',           // 提交字段名，协同人ID数组
                layVerify: 'required',          // 验证规则：必选
                tips: '请选择协同人员',           // 占位提示文字
                filterable: true,              // 支持搜索过滤选项:contentReference[oaicite:9]{index=9}
                clickClose: false,             // 多选时点击选项不关闭下拉框，方便连续选择
                // initValue: []               // 初始选中值（如果有默认协同人，可在此指定数组）
                data: collaboratorData         // 协同人选项数据列表
            });
            // 渲染表单，使新插入的下拉框呈现出 LayUI 样式
            form.render('select');  // 对 select 下拉框进行重绘:contentReference[oaicite:10]{index=10}

            //const products = new EditableSelect(document.getElementById('product_name'), {$productList|raw}, '产品名称', '', 'id', false);

        // 监听“询盘来源”下拉改变，动态过滤对应的运营人员选项
        var yyList = {$yyList|raw};  // 运营人员分组数据：{ 来源名称: [ {id:..., name:...}, ... ], ... }
        form.on('select(kh_status)', function (data) {
            var sourceName = $(data.elem).find("option:selected").text();  // 获取选中的来源名称
            var users = yyList[sourceName] || [];                          // 找到该来源对应的运营人员列表
            // 重置运营人员下拉选项
            var $oper = $('select[name="oper_user"]');
            $oper.empty();
            $oper.append('<option value="">请选择运营人员</option>');
            $.each(users, function (index, user) {
                $oper.append('<option value="' + user.id + '">' + user.name + '</option>');
            });
            form.render('select', '');  // 重新渲染下拉框
        });

        // 动态添加一行产品
        document.getElementById('addRow').onclick = function () {
            var tbody = document.getElementById('productTableBody');
            // 创建新行HTML
            var newRow = document.createElement('tr');
            newRow.innerHTML = `
            <td><input type="text" name="product_name[]" class="layui-input" lay-verify="required"></td>
            <td><input type="text" name="spec_model[]" class="layui-input"></td>
            <td><input type="text" name="unit[]" class="layui-input"></td>
            <td><input type="text" name="qty[]" class="layui-input" lay-verify="required"></td>
            <td><input type="text" name="unit_price[]" class="layui-input" lay-verify="required"></td>
            <td><input type="text" name="total_price[]" class="layui-input" readonly></td>
            <td><input type="text" name="purchase_price[]" class="layui-input" lay-verify="required"></td>
            <td><input type="text" name="sub_profit[]" class="layui-input" readonly></td>
            <td><input type="text" name="item_remark[]" class="layui-input"></td>
            <td><button type="button" class="layui-btn layui-btn-danger layui-btn-sm delete-row">删除</button></td>
        `;
            tbody.appendChild(newRow);
            // 如果使用了 EditableSelect 自动完成，下行代码可为新加入的产品名称输入框启用
            // new EditableSelect(newRow.querySelector('input[name="product_name[]"]'), {$productList|raw}, '产品名称', '', 'id', false);
            form.render(); // 重新渲染表单，使新加行的 lay-verify 生效
        };


        // 代理监听删除按钮点击，删除所在行
        $('#productTableBody').on('click', '.delete-row', function () {
            $(this).closest('tr').remove();
            updateTotals();  // 每删一行后更新总计
        });

        // 计算并更新一行的销售合计和利润
        function updateRow($tr) {
            var qty = parseFloat($tr.find('input[name="qty[]"]').val()) || 0;
            var unitPrice = parseFloat($tr.find('input[name="unit_price[]"]').val()) || 0;
            var purchase = parseFloat($tr.find('input[name="purchase_price[]"]').val()) || 0;
            // 计算销售合计和子项利润
            var total = qty * unitPrice;
            var profit = total - purchase;
            // 更新当前行的销售价合计和子项利润，保留两位小数
            $tr.find('input[name="total_price[]"]').val(total.toFixed(2));
            $tr.find('input[name="sub_profit[]"]').val(profit.toFixed(2));
        }

        // 计算并更新所有产品行的总金额、总利润和利润率
        function updateTotals() {
            var sumTotal = 0, sumProfit = 0, sumPurchase = 0;
            $('#productTableBody tr').each(function () {
                var $tr = $(this);
                var qty = parseFloat($tr.find('input[name="qty[]"]').val()) || 0;
                var unitPrice = parseFloat($tr.find('input[name="unit_price[]"]').val()) || 0;
                var purchase = parseFloat($tr.find('input[name="purchase_price[]"]').val()) || 0;
                var lineTotal = qty * unitPrice;
                var lineProfit = lineTotal - purchase;
                sumTotal += lineTotal;
                sumProfit += lineProfit;
                sumPurchase += purchase;
            });
            // 更新订单总金额、总利润和利润率字段
            $('#money').val(sumTotal.toFixed(2));
            $('#profit').val(sumProfit.toFixed(2));
            var marginRate = 0;
            if (sumTotal > 0) {
                marginRate = (sumProfit / sumTotal * 100);
            }
            $('#margin_rate').val(marginRate.toFixed(2));
        }

        // 当数量、单价或进价改变时，实时更新行合计和总计
        $('#productTableBody').on('input', 'input[name="qty[]"], input[name="unit_price[]"], input[name="purchase_price[]"]', function () {
            var $row = $(this).closest('tr');
            updateRow($row);
            updateTotals();
        });




        //监听提交
        form.on('submit(submit)', function (data) {


            updateTotals();

            $.post("{:url('Order/add')}", data.field, function (res) {
                if (res.code == 0) {
                    layer.msg(res.msg, { time: 2000 });
                    layer.close(layer.index);
                    window.parent.location.reload();
                } else {
                    layer.msg(res.msg, { time: 2000 });
                }

            }, 'json')



            return false;
        });
        });
    </script>
</body>

</html>