<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{:config('sys_name')}后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/static/admin/css/global.css" media="all">
    <link rel="stylesheet" href="/static/common/css/font.css" media="all">
    <style>
        /* 统一管理样式 */
        .filtrate-warp {
            margin-bottom: 10px;
        }

        .filtrate-warp .title {
            padding: 5px 12px 7px 12px;
            font-size: 14px;
            font-weight: normal;
            text-align: left;
            cursor: pointer;
            width: 90px;
            background-color: transparent !important;
            color: black !important;
        }

        .filtrate-warp .title:hover {
            color: black;
        }

        .filtrate-warp .flag {
            padding: 6px 12px 6px 12px;
            cursor: pointer;
        }

        .filtrate-warp .flag:hover {
            color: black;
        }

        .filtrate-warp .layui-badge:hover {
            color: white !important;
        }

        .layui-form-item .layui-inline {
            margin-bottom: 10px;
        }
    </style>
</head>

<body class="skin-<?php if(!empty($_COOKIE['skin'])){echo $_COOKIE['skin'];}else{echo '0';setcookie('skin','0');}?>">
    <div class="admin-main layui-anim layui-anim-upbit">
        <fieldset class="layui-elem-field ">
            <form class="layui-form" id="searchForm">
                <legend>高级查询</legend>
                <div class="layui-card" style="box-shadow: none; margin-top: 10px">
                    <div class="layui-form layui-card-header layuiadmin-card-header-auto"
                        style="border-bottom: transparent; height: auto">
                        <div class="layui-form-item" style="text-align: left; padding-left: 20px;">
                            <!-- 通用筛选条件 -->
                            <!-- <div class="layui-inline">
                                <label class="layui-form-label">审核状态：</label>
                                <div class="layui-input-inline">
                                    <select name="status" id="status">
                                        <option value="">请选择审核状态：</option>
                                        <option value="审核中">审核中</option>
                                        <option value="审核通过">审核通过</option>
                                    </select>
                                </div>
                            </div>-->
                            <div class="layui-inline">
                                <label class="layui-form-label">订单编号：</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="order_no" placeholder="请输入订单编号" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">联系方式：</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="contact" placeholder="请输入联系方式" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">时间查询：</label>
                                <div class="layui-input-inline">
                                    <select name="timebucket">
                                        <option value="">请选择时间</option>
                                        <option value="today">今天</option>
                                        <option value="yesterday">昨天</option>
                                        <option value="week">本周</option>
                                        <option value="last week">上周</option>
                                        <option value="month" selected>本月</option>
                                        <option value="last month">上月</option>
                                        <option value="year">今年</option>
                                        <option value="last year">去年</option>
                                        <option value="-2 hours">两个小时内</option>
                                    </select>
                                </div>
                            </div>

                            <!-- 自定义筛选折叠面板 -->
                            <div class="layui-collapse">
                                <div class="layui-colla-item">
                                    <h2 class="layui-colla-title">自定义筛选 <i class="layui-icon layui-colla-icon"></i></h2>
                                    <div class="layui-colla-content  layui-show">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">客户名称：</label>
                                            <div class="layui-input-inline">
                                                <input type="text" id="cname" name="cname" placeholder="请输入客户名称"
                                                    class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">客户性质：</label>
                                            <div class="layui-input-inline">
                                                <select name="customer_type"  lay-search="">
                                                <option value="">请选择客户性质</option>
                                                {volist name='customer_type' id='vo'}
                                                <option value="{$vo}" {if $vo==$orderInfo.customer_type} selected="selected" {/if}>{$vo}
                                                </option>
                                                {/volist}
                                            </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">产品名称：</label>
                                            <div class="layui-input-inline">
                                                <input type="text"  name="product_name" placeholder="请输入产品名称"
                                                    class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">成交金额：</label>
                                            <div class="layui-input-inline">
                                                <input type="number" name="min_money" placeholder="最小值"
                                                    class="layui-input">
                                            </div>
                                            <div class="layui-input-inline">
                                                <input type="number" name="max_money" placeholder="最大值"
                                                    class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-inline">
                                            <label class="layui-form-label">利润：</label>
                                            <div class="layui-input-inline">
                                                <input type="number" name="min_profit" placeholder="最小值"
                                                    class="layui-input">
                                            </div>
                                            <div class="layui-input-inline">
                                                <input type="number" name="max_profit" placeholder="最大值"
                                                    class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">利润率：</label>
                                            <div class="layui-input-inline">
                                                <input type="number" name="min_margin_rate" placeholder="最小值(%)"
                                                    class="layui-input">
                                            </div>
                                            <div class="layui-input-inline">
                                                <input type="number" name="max_margin_rate" placeholder="最大值(%)"
                                                    class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-inline">
                                            <label class="layui-form-label">团队名称：</label>
                                            <div class="layui-input-inline">
                                                <select name="team_name" id="team_name" lay-search="">
                                                    <option value="">请选择团队名称</option>
                                                    {volist name='teamList' id='vo'}
                                                    <option value="{$vo}">{$vo}</option>
                                                    {/volist}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="layui-inline">
                                            <label class="layui-form-label">询盘来源：</label>
                                            <div class="layui-input-inline">
                                                <select name="source" id="source" lay-search="">
                                                    <option value="">请选择询盘来源</option>
                                                    {volist name='sourceList' id='vo'}
                                                    <option value="{$vo}">{$vo}</option>
                                                    {/volist}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="layui-inline">
                                            <label class="layui-form-label">业务员：</label>
                                            <div class="layui-input-inline">
                                                <select name="pr_user" id="pr_user" lay-search="">
                                                    <option value="">请选择业务员</option>
                                                    {volist name='adminResult' id='vo'}
                                                    <option value="{$vo.username}">{$vo.username}</option>
                                                    {/volist}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-inline" style="float: right; padding-bottom: 15px">
                            <button type="button" class="layui-btn" onclick="resetForm()">重置</button>
                            <button class="layui-btn layuiadmin-btn-list" lay-submit
                                lay-filter="LAY-app-contlist-search">
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"
                                    style="vertical-align: sub;"></i>查询数据
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </fieldset>

        <div id="summary-info" class="layui-card" style="margin-bottom: 10px; padding: 10px;">
            <span style="font-weight: 600;">成交金额总计：￥<span style="font-weight: 300;" id="total-money"> 0</span>
                <span style="font-weight: 600; margin-left: 20px;">利润总计：￥<span style="font-weight: 300;"
                        id="total-profit">
                        0</span>
                    <span style="font-weight: 600; margin-left: 20px;">询盘数量：<span style="font-weight: 300;"
                            id="total-inquiries">0</span></span>
                    <span style="font-weight: 600; margin-left: 20px;">成单率：<span style="font-weight: 300;"
                            id="success-rate">0</span>%</span>
        </div>

        <table class="layui-table" id="table-list" lay-filter="table-list"></table>
    </div>

    <script type="text/html" id="action">
        <!-- 是否审核通过 -->
    <!-- {//if $Think.session.aid == 1} -->
    <!-- <a class="layui-btn  layui-btn-xs" lay-event="shenhe"><i class="layui-icon">&#xe642;</i>审核通过</a> -->
    <a class="layui-btn  layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
    <!-- {/if} -->
    </script>

    <script type="text/html" id="topBtn">
        <button type="button" class="layui-btn layui-btn-primary layui-btn-radius layui-btn-sm" id="add"><i
                class="layui-icon">&#xe608;</i>添加订单</button>
    </script>

    {include file="common/foot"/}
    <script>
        layui.use(['table', 'form', 'upload', 'util', 'laydate', 'element'], function () {
            const { table, form, laydate, $, upload, util, element } = layui;

            // 初始化表格
            const tableIn = table.render({
                elem: '#table-list',
                url: '{:url("index")}',
                method: 'post',
                toolbar: '#topBtn',
                defaultToolbar: ['filter', 'print', 'exports'],
                cols: [[
                    { field: 'id', title: 'ID', width: 80, fixed: true, hide: true },
                    { field: 'order_no', title: '订单编号', totalRowText: '合计：' },
                    { field: 'cname', title: '客户名称' },
                    { field: 'contact', title: '联系方式' },
                    { field: 'money', title: '成交金额(￥)', totalRow: true },
                    { field: 'profit', title: '利润', totalRow: true },
                    { field: 'margin_rate', title: '利润率(%)', totalRow: true },
                    { field: 'order_time', title: '成交时间' },
                    { field: 'source', title: '询盘来源' },
                    { field: 'pr_user', title: '负责人', hide: false },
                    { field: 'team_name', title: '团队', hide: false },
                    { width: 200, title: '操作', toolbar: '#action' }
                ]],
                limit: 100,
                page: { limits: [10, 20, 30, 40, 50, 100, 9999999] },
                totalRow: true,
                done(res) {
                    $('#total-money').text(res.totalMoney);
                    $('#total-profit').text(res.totalProfit);
                    $('#total-inquiries').text(res.totalInquiries);
                    $('#success-rate').text(res.successRate);
                }
            });

            // 表格操作事件监听
            table.on('tool(table-list)', function (obj) {
                const data = obj.data;
                const { event } = obj;

                if (event === 'del') {
                    layer.confirm('您确定要删除这个客户吗？', { icon: 3, title: '提示' }, (index) => {
                        const loading = layer.load(1, { shade: [0.1, '#fff'] });
                        $.post("{:url('del')}", { id: data.id }, (res) => {
                            layer.close(loading);
                            if (res.code === 0) {
                                layer.msg(res.msg, { time: 1000, icon: 1 });
                                tableIn.reload();
                            } else {
                                layer.msg('操作失败！', { time: 1000, icon: 2 });
                            }
                        });
                        layer.close(index);
                    });
                } else if (event === 'shenhe') {
                    layer.confirm('确认金额和客户信息,确认审核业绩吗？', { icon: 3, title: '提示' }, (index) => {
                        const loading = layer.load(1, { shade: [0.1, '#fff'] });
                        $.post("{:url('shenhe')}", { id: data.id }, (res) => {
                            layer.close(loading);
                            if (res.code === 0) {
                                layer.msg(res.msg, { time: 1000, icon: 1 });
                                tableIn.reload();
                            } else {
                                layer.msg(res.msg, { time: 2000, icon: 2 });
                            }
                        });
                        layer.close(index);
                    });
                } else if (event === 'edit') {
                   var indexOpen = layer.open({
                        type: 2,
                        title: '编辑客户',
                        closeBtn: 1,
                        area: ['100%', '86%'],
                        anim: 2,
                        shadeClose: false,
                        maxmin: false,
                        content: ["{:url('Order/edit')}?id=" + data.id]
                    });
                }
            });


            // 顶部按钮事件监听
            $('body').on('click', '#add', function () {
                layer.open({
                    type: 2,
                    title: '添加客户',
                    closeBtn: 1,
                    area: ['100%', '86%'],
                    anim: 2,
                    shadeClose: false,
                    maxmin: false,
                    content: ["{:url('Order/add')}"]
                });
            });

            // 表格工具栏事件监听
            table.on('toolbar(table-list)', function (obj) {
                const checkStatus = table.checkStatus(obj.config.id);
                const data = checkStatus.data;

                switch (obj.event) {
                    case 'moveGh':
                        if (data.length === 0) {
                            layer.msg('请选择一行');
                        } else if (data.length > 1) {
                            layer.msg('只能同时编辑一个');
                        } else {
                            layer.open({
                                type: 2,
                                title: '移入公海',
                                closeBtn: 1,
                                area: ['100%', '86%'],
                                anim: 2,
                                shadeClose: false,
                                maxmin: false,
                                content: ["{:url('Client/toMoveGh')}?id=" + data[0].id]
                            });
                        }
                        break;
                    case 'alterAll':
                        if (data.length > 0) {
                            const alterList = data.map(obj => obj.id);
                            layer.confirm(`您确定要转移这${data.length}个客户吗？`, { icon: 3, title: '提示' }, (index) => {
                                layer.close(index);
                                layer.open({
                                    type: 2,
                                    title: '转移客户',
                                    closeBtn: 1,
                                    area: ['100%', '86%'],
                                    anim: 2,
                                    shadeClose: false,
                                    maxmin: false,
                                    content: ["{:url('Client/alterPrUser')}?ids=" + alterList]
                                });
                            });
                        } else {
                            layer.msg("请选择需要转移的客户");
                        }
                        break;
                }
            });

            // 监听搜索
            form.on('submit(LAY-app-contlist-search)', function (data) {
                table.reload('table-list', {
                    url: "{:url('Order/clientSearch')}",
                    where: { keyword: data.field },
                    page: { curr: 1 }
                });
                return false;
            });

            // 初始化折叠面板
            element.render('collapse');
            // 初始化日期选择器
            laydate.render({ elem: '#create_time' });
        });

        function layer_add(title, url) {
            layer.open({
                type: 2,
                title: title,
                closeBtn: 1,
                area: ['100%', '86%'],
                anim: 2,
                shadeClose: false,
                maxmin: true,
                content: [url, 'no']
            });
        }
        function resetForm() {
            document.getElementById('searchForm').reset();
        }
    </script>
</body>

</html>